*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background: #0f172a;
}
.flex{
    display: flex;
}
.s-around{
    justify-content: space-around;
}
.s-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}
.f-col{
    flex-direction: column;
}
.t-white {
    color: #ffffff;
}

.t-center{
    text-align: center;
}
.my-2{
    margin: 40px 0;
}
.m-auto{
    margin: auto;
}
.btn{
    padding: 10px 20px;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover{
    background: #1d4ed8;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #020617;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #38bdf8;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #38bdf8;
}

.contact-btn{
    padding: 8px 16px;
    background-color: #38bdf8;
    color: black !important;
    border-radius: 5px;
    font-weight: bold;
}

.contact-btn:hover {
    background-color: #0ea5e9;
}


#home{
    min-height: 90vh;
}
.home-content h6 {
    font-size: 18px;
    color: #94a3b8;
}
.home-content h1 {
    font-size: 32px;
    color: red; 
}
.home-content h4{
    font-size: 20px;
    color: #38bdf8;
    margin-bottom: 15px;
}
.circle{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #2563eb;
}
.circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about{
    padding: 50px;
}
.about-left img{
    width: 280px;
    border-radius: 10px;
}

#skills{
    padding: 50px;
}
.bar{
    background: #1e293b;
    margin: 12px 0;
    padding: 10px;
    border-radius: 5px;
}

#Project{
    padding: 50px;
}
.project-item{
    background: #020617;
    padding: 20px;
    width: 300px;
    margin: 15px;
    border-radius: 10px;
}

#Content{
    padding: 50px;
}
.form-div input,
.form-div textarea {
    width: 300px;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

#footer{
    background: #020617;
    padding: 30px 0;
}

#footer ul li{
    list-style: none;
    margin: 0 10px;
}
#footer a{
    color: white;
    text-decoration: none;
}
